{% extends '::base_admin.html.twig' %}

{% block body %}
    <h1>Issues list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Type</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Reportedby</th>
                <th>Resolvedby</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Component</th>
                <th>Affectversion</th>
                <th>Fixversion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <td><a href="{{ path('issue_show', { 'id': issue.id }) }}">{{ issue.id }}</a></td>
                <td>{{ issue.title }}</td>
                <td>{{ issue.description }}</td>
                <td>{{ issue.type }}</td>
                <td>{{ issue.status }}</td>
                <td>{{ issue.priority }}</td>
                <td>{{ issue.reportedBy }}</td>
                <td>{{ issue.resolvedBy }}</td>
                <td>{% if issue.createdAt %}{{ issue.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if issue.updatedAt %}{{ issue.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ issue.component }}</td>
                <td>{{ issue.affectVersion }}</td>
                <td>{{ issue.fixVersion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('issue_show', { 'id': issue.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('issue_edit', { 'id': issue.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('issue_new') }}">Create a new issue</a>
        </li>
    </ul>
{% endblock %}
